:root {
  --dark-red: #4A0900;
  --deep-red: #C20009;
  --slate-blue: #005B96;

  --off-white: #FAF6E6;
  --off-white: #FFFFFA;
  --light-grey: #D1D2CC;
  --grey: #858680;
  --dark-grey: #52534D;
}

* { 
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--off-white);
}

a:hover {
  text-decoration: underline;
}

img {
  object-fit: cover;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  color: var(--off-white);
}

.btn:hover {
  filter: brightness(135%);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--slate-blue);
  border: 1px solid var(--slate-blue);
  color: var(--off-white);
}

.btn-secondary {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
}

.btn-danger {
  /* width: 1px; */
  background-color: var(--deep-red);
  border: 1px solid var(--deep-red);
  color: var(--off-white);
}

.btn-lg {
  font-size: 22px;
  padding: 15px;
}

input, textarea {
  border-radius: 5px;
  border: none;
  padding: 7px;
}


.timeline-image {
  background: var(--off-white);
  padding: 5px;
  margin-right: 7px;
  border-radius: 5px;
  max-height: 55px;
  max-width: 55px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

/* ANIMATIONS */
@keyframes slidedown {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slide-down-animation {
  animation-name: slidedown;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* HOME HERO STYLES */
.home-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin: auto;
  background-color: var(--dark-red);
  color: var(--off-white);
  padding: 10px 20px 40px;
  border-radius: 5px;
}

/* AUTH FORM STYLES */
.auth-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: auto;
  width: 40%;
  height: 400px;
  background-color: var(--dark-grey);
  color: var(--off-white);
  padding: 10px 20px 40px;
  border-radius: 5px;
}

.auth-form__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 7px 0;
}

.auth-form button {
  margin-top: 10px;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-red);
  margin-bottom: 20px;
  padding: 15px 35px;
  
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  /* width: 20%; */
}

.navbar a, .navbar li {
  color: var(--off-white);;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.navbar li:hover {
  text-decoration: underline;
}

.navbar-header a {
  font-size: 36px;
}

/* MAIN STYLES */
.main-page {
  display: flex;

  padding: 20px;
}

/* SCROLL STYLES */
.scroll {
  display: flex;
  margin-left: 15%;
}

/* USER ASIDE STYLES */

.user-aside {
  display: flex;
  flex-direction: column;
  /* width: 15%; */
  flex-basis: 1;
  height: 100%;
  background-color: var(--dark-red);
  color: var(--off-white);
  padding: 10px;
  border-radius: 5px;
}

.user-aside a {
  color: var(--off-white);
}

.user-aside .img-thumbnail {
  margin-bottom: 10px;
  background-color: var(--off-white);
  border: 5px solid var(--off-white);
  border-radius: 5px;
  max-height: 200px;
  max-width: 200px;
}

.user-aside__body {
  display: flex;
  flex-direction: column;
}

/* POST LIST STYLES */

/* .post-list {
  margin-left: 22%;
} */

/* POST ITEM STYLES */
.post-item {
  display: flex;
  flex-direction: column;
  border: none;
  background: var(--off-white-orange);
  box-shadow: 0 0 2px gray;
  padding: 0;
  margin-bottom: 25px;
  width: 500px;
  
}


.post-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-red);
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  color: var(--off-white);
}

.post-heading__label {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.label__info {
  display: flex;
  flex-direction: column;
}

.post-heading a {
  color: var(--off-white);
}

.post-heading .date {
  color: var(--light-grey);
  font-size: 12px;
}

.post-item__button-container {
  display: flex;
  justify-content: space-between;
  width: 140px; 
}

.btn-blank {
  background: var(--dark-red);
  width: 75px;
  cursor: auto;
}

.post-item .timeline-image {
  background: var(--off-white);
  padding: 5px;
  margin-right: 7px;
  border-radius: 5px;
  max-height: 55px;
  max-width: 55px
}

.message-area {
  min-height: 100px;
  padding: 20px 20px 40px 20px;
  background-color: var(--light-grey);
}

.post-footer {
  background-color: var(--grey);
  padding: 10px 20px;
}

.post-footer p {
  margin: 0;
}

/* PROFILE PAGE */
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-left: 16%;
}

.profile-header {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--dark-red);
  color: var(--off-white);;
  padding: 15px;
  border-radius: 5px;
}

.profile-header__avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-header__avatar .btn {
  font-size: 9px;
  margin: 0;
}

.profile-header__friend-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.profile-header__friend-buttons button {
  margin-bottom: 10px;
}

.avatar__profile-img {
  margin-bottom: 10px;
  max-height: 150px;
  max-width: 150px;
  background: var(--off-white);;
  padding: 5px;
  border-radius: 5px;
}

.profile-header .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  margin-left: 10px;
  font-size: 14px;
  color: var(--light-grey);
}

.profile-info h2 {
  margin: 0;
}

.profile-page h4 {
  align-self: flex-start;

}

.profile-info__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

.profile-info__data p {
  margin-right: 5px;
}

.profile-page .post-list {
  width: 100%;
  margin-left: 0;
}

.upload-image-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-grey);
  color: var(--off-white);
  padding: 20px;
  border-radius: 5px;
  outline: none;
}

.upload-image-modal button {
  margin-right: 10px;
}



/* FRIEND CARD STYLES */
.friend-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 500px;
  padding: 40px;
  background-color: var(--dark-red);
  color: var(--light-grey);
  border-radius: 5px;
}

.friend-card .sub-panel-body {
  margin-left: 20px;
}

/* .friend-card .sub-panel-body a {
  color: var(--light-grey);
} */

.friend-card .img-thumbnail {
  max-width: 100px;
  max-height: 100px;
  border: 5px solid var(--light-grey);
  border-radius: 5px;
}


/* POST PAGE STYLES */
.post-page {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.post-page .post-item {
  margin-bottom: 0;
}

.post-page__footer {
  width: 500px;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-form__input {
  width: 66%;
  height: 30px;
  margin-right: 10px;
}



/* COMMENT ITEM STYLES */
.comment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grey);
  padding: 7px 10px;
  margin: 7px 0;
  border-radius: 5px;
}

.comment-item .timeline-image {
  align-self: flex-start;
}

.comment-item__body {
  display: flex;
  align-items: center;
  width: 70%;
}

.comment-item__username {
  color: var(--dark-red);
  font-weight: bold;
  margin-right: 5px;
}

.comment-item__text {
  align-self: flex-start;
  
}

.comment-item__buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

/* SEARCH PAGE STYLES */
.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* margin: 0 auto;   */
}

.search-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 70px;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: var(--dark-grey);
}

.search-form label {
  color: var(--off-white);
}

.search-form input {
  width: 50%;
}

/* NEW POST FORM */
.new-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.post-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: var(--dark-grey);
}

.post-form label {
  color: var(--off-white);
}

.post-form textarea {
  width: 50%;
  font-size: 14px;
}
