:root {
  --dark-red: #4A0900;
  --deep-red: #8F0009;
  --off-white-orange: #EEEBE9;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* POST ITEM STYLES */

.list-group-item {
  display: flex;
  flex-direction: column;
  border: none;
  background: var(--off-white-orange);
  box-shadow: 0 0 2px gray;
  padding: 0;
}

.list-group-item:last-child {
  margin-bottom: 10px;
}

.post-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--dark-red);
  padding: 10px 5px;
  border-radius: 5px 5px 0 0;
}

.btn {
  cursor: pointer;
}

.post-heading .btn-danger {
  width: 75px;
  background-color: var(--deep-red);
  border: 1px solid var(--deep-red);
  filter: brightness(135%);
  color: white;
}

.btn-blank {
  background: var(--dark-red);
  width: 75px;
  cursor: auto;
}

.list-group-item .timeline-image {
  background: white;
  padding: 5px;
  border-radius: 50px;
  height: 40px;
  width: 40px
}

.message-area {
  min-height: 100px;
  padding: 20px;
}

.post-footer {
  background-color: gray;
  padding: 10px 20px;
}


/* USER ASIDE STYLES */

.panel {
  background-color: var(--dark-red);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.img-thumbnail {
  margin-bottom: 10px;
}

/* PROFILE PAGE */
#profile-page {

}

.profile-header {
  align-items: flex-start; 
  justify-content: space-between;
  margin-bottom: 30px;
}

.profile-header .profile-img {
  margin-right: 30px;
  height: 100px;
  width: 100px;
}

.profile-header .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
}

.profile-header .btn {
  /* align-self: center; */
  margin-top: 20px;
  margin-left: 20px;
}
